<%- include("templates/head.ejs") %>
<%- include("templates/header.ejs") %>
<!-- MAIN -->
<main>
<!-- Error Messsage -->
    <section class="error404">
        <div class="content-width">
            <h2>ERROR 404</h2>
            <h3>La página no existe.</h3>
        </div>
        <p><a class="btn-b" href="/">Inicio</a></p>
    </section>
</main>

<!-- FOOTER -->
<%- include("templates/footer.ejs") %>
<!-- Common Script -->
<script src="/js/script.js"></script>
<!-- Font-awesome -->
<script src="https://kit.fontawesome.com/e26a24a7d1.js" crossorigin="anonymous"></script>
</body>
</html>