<footer>
    <div class="content-width">
        <p>Este sitio web ha sido creado por Manami para el proyecto final del curso de desarrollo de aplicaciones web.</p>
        <ul class="sns">
            <li><a href="https://github.com/manami-n" target="_blank" aria-label="Enlace a Github"><i class="fa-brands fa-square-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/manami-n/" target="_blank" aria-label="Enlace a LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
        <p class="copy"><small>Copyright &copy; 2024 pupcakes</small></p>
    </div>
</footer>