<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="author" content="Manami Naito">
    <meta name="keywords" content="perros, mapa, mascotas, cachorros, animales, cafes, restaurantes">
    <meta name="description" content="Encuentra los mejores lugares para comer y beber con tu mascota. Usa nuestro buscador de mapas para descubrir restaurantes y cafeterías amigables con perros cerca de ti.">
    <title>Pupcakes: Mapa para 4 patitas | <%= title %> </title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">